USE [master]
GO
/****** Object:  Database [DDS]    Script Date: 24/12/2023 12:37:46 CH ******/
CREATE DATABASE [DDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DDS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DDS]
GO
/****** Object:  Table [dbo].[DIM_BRANCH]    Script Date: 24/12/2023 12:37:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_BRANCH](
	[Branch_SK] [int] NOT NULL,
	[BranchID] [nvarchar](10) NULL,
	[City] [nvarchar](50) NULL,
	[SourceName] [nvarchar](50) NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
 CONSTRAINT [PK_DIM_BRANCH] PRIMARY KEY CLUSTERED 
(
	[Branch_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_CUSTYPE]    Script Date: 24/12/2023 12:37:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CUSTYPE](
	[custype_sk] [int] NOT NULL,
	[customertype] [nvarchar](50) NULL,
	[sourcename] [nvarchar](50) NULL,
	[datecrea] [datetime] NULL,
	[dateaupd] [datetime] NULL,
 CONSTRAINT [PK_DIM_CUSTYPE] PRIMARY KEY CLUSTERED 
(
	[custype_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_DATE]    Script Date: 24/12/2023 12:37:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_DATE](
	[Date_SK] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[Hour] [time](7) NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
 CONSTRAINT [PK_DIM_DATE] PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_GENDER]    Script Date: 24/12/2023 12:37:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_GENDER](
	[gender_sk] [int] NOT NULL,
	[gender] [nvarchar](50) NULL,
	[sourcename] [nvarchar](50) NULL,
	[datecrea] [datetime] NULL,
	[dateupd] [datetime] NULL,
 CONSTRAINT [PK_DIM_GENDER] PRIMARY KEY CLUSTERED 
(
	[gender_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PAYMENT]    Script Date: 24/12/2023 12:37:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PAYMENT](
	[Payment_SK] [int] NOT NULL,
	[Payment] [nvarchar](20) NULL,
	[SourceName] [nvarchar](50) NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
 CONSTRAINT [PK_DIM_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[Payment_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PRODUCT]    Script Date: 24/12/2023 12:37:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PRODUCT](
	[Product_SK] [int] NOT NULL,
	[ProductID] [nvarchar](10) NULL,
	[Productline] [nvarchar](50) NULL,
	[SourceName] [nvarchar](50) NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
 CONSTRAINT [PK_DIM_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_INVOICE]    Script Date: 24/12/2023 12:37:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_INVOICE](
	[Branch_SK] [int] NULL,
	[payment_SK] [int] NULL,
	[Product_SK] [int] NULL,
	[Date_SK] [int] NULL,
	[InvoiceID] [nvarchar](20) NULL,
	[Quantity] [int] NULL,
	[Total] [float] NULL,
	[Rating] [float] NULL,
	[SourceName] [nvarchar](50) NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
	[invoice_sk] [int] NOT NULL,
	[gender_sk] [int] NULL,
	[custype_sk] [int] NULL,
 CONSTRAINT [PK_FACT_INVOICE] PRIMARY KEY CLUSTERED 
(
	[invoice_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIM_BRANCH] ([Branch_SK], [BranchID], [City], [SourceName], [DateCrea], [DateUpd]) VALUES (1206, N'B', N'Mandalay', N'Myanmar', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime))
INSERT [dbo].[DIM_BRANCH] ([Branch_SK], [BranchID], [City], [SourceName], [DateCrea], [DateUpd]) VALUES (1207, N'C', N'Naypyitaw', N'Myanmar', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime))
INSERT [dbo].[DIM_BRANCH] ([Branch_SK], [BranchID], [City], [SourceName], [DateCrea], [DateUpd]) VALUES (1208, N'A', N'Yangon', N'Myanmar', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime))
GO
INSERT [dbo].[DIM_CUSTYPE] ([custype_sk], [customertype], [sourcename], [datecrea], [dateaupd]) VALUES (3, N'Member', N'Myanmar', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime))
INSERT [dbo].[DIM_CUSTYPE] ([custype_sk], [customertype], [sourcename], [datecrea], [dateaupd]) VALUES (4, N'Normal', N'Myanmar', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[DIM_DATE] ON 

INSERT [dbo].[DIM_DATE] ([Date_SK], [Date], [Hour], [Day], [Month], [Year], [DateCrea], [DateUpd]) VALUES (14010, CAST(N'2019-01-01' AS Date), CAST(N'10:39:00' AS Time), 1, 1, 2019, NULL, NULL)
INSERT [dbo].[DIM_DATE] ([Date_SK], [Date], [Hour], [Day], [Month], [Year], [DateCrea], [DateUpd]) VALUES (14011, CAST(N'2019-01-01' AS Date), CAST(N'11:36:00' AS Time), 1, 1, 2019, NULL, NULL)
INSERT [dbo].[DIM_DATE] ([Date_SK], [Date], [Hour], [Day], [Month], [Year], [DateCrea], [DateUpd]) VALUES (14012, CAST(N'2019-01-01' AS Date), CAST(N'11:40:00' AS Time), 1, 1, 2019, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DIM_DATE] OFF
GO
INSERT [dbo].[DIM_GENDER] ([gender_sk], [gender], [sourcename], [datecrea], [dateupd]) VALUES (5, N'Female', N'Myanmar', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime))
INSERT [dbo].[DIM_GENDER] ([gender_sk], [gender], [sourcename], [datecrea], [dateupd]) VALUES (6, N'Male', N'Myanmar', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime))
GO
INSERT [dbo].[DIM_PAYMENT] ([Payment_SK], [Payment], [SourceName], [DateCrea], [DateUpd]) VALUES (17982, N'Cash', N'Myanmar', CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime))
INSERT [dbo].[DIM_PAYMENT] ([Payment_SK], [Payment], [SourceName], [DateCrea], [DateUpd]) VALUES (17983, N'Credit card', N'Myanmar', CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime))
INSERT [dbo].[DIM_PAYMENT] ([Payment_SK], [Payment], [SourceName], [DateCrea], [DateUpd]) VALUES (17984, N'Ewallet', N'Myanmar', CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime))
GO
INSERT [dbo].[DIM_PRODUCT] ([Product_SK], [ProductID], [Productline], [SourceName], [DateCrea], [DateUpd]) VALUES (346462, N'PID01', N'Health and beauty', N'Myanmar', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime))
INSERT [dbo].[DIM_PRODUCT] ([Product_SK], [ProductID], [Productline], [SourceName], [DateCrea], [DateUpd]) VALUES (346463, N'PID722', N'Health and beauty', N'Myanmar', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime))
INSERT [dbo].[DIM_PRODUCT] ([Product_SK], [ProductID], [Productline], [SourceName], [DateCrea], [DateUpd]) VALUES (346464, N'PID720', N'Health and beauty', N'Myanmar', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime))
GO
INSERT [dbo].[FACT_INVOICE] ([Branch_SK], [payment_SK], [Product_SK], [Date_SK], [InvoiceID], [Quantity], [Total], [Rating], [SourceName], [DateCrea], [DateUpd], [invoice_sk], [gender_sk], [custype_sk]) VALUES (1207, 17982, 346836, 14292, N'258-69-7810', 5, 193.4625, 9.2, N'Myanmar', CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime), 19019, 5, 4)
INSERT [dbo].[FACT_INVOICE] ([Branch_SK], [payment_SK], [Product_SK], [Date_SK], [InvoiceID], [Quantity], [Total], [Rating], [SourceName], [DateCrea], [DateUpd], [invoice_sk], [gender_sk], [custype_sk]) VALUES (1207, 17982, 347366, 14492, N'796-12-2025', 10, 652.26, 5.9, N'Myanmar', CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime), 19020, 6, 4)
INSERT [dbo].[FACT_INVOICE] ([Branch_SK], [payment_SK], [Product_SK], [Date_SK], [InvoiceID], [Quantity], [Total], [Rating], [SourceName], [DateCrea], [DateUpd], [invoice_sk], [gender_sk], [custype_sk]) VALUES (1206, 17982, 346983, 14537, N'895-03-6665', 9, 345.0195, 4.2, N'Myanmar', CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-18T22:02:49.000' AS DateTime), 19021, 5, 4)
GO
ALTER TABLE [dbo].[FACT_INVOICE]  WITH CHECK ADD  CONSTRAINT [fk_custype] FOREIGN KEY([custype_sk])
REFERENCES [dbo].[DIM_CUSTYPE] ([custype_sk])
GO
ALTER TABLE [dbo].[FACT_INVOICE] CHECK CONSTRAINT [fk_custype]
GO
ALTER TABLE [dbo].[FACT_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_FACT_INVOICE_DIM_BRANCH] FOREIGN KEY([Branch_SK])
REFERENCES [dbo].[DIM_BRANCH] ([Branch_SK])
GO
ALTER TABLE [dbo].[FACT_INVOICE] CHECK CONSTRAINT [FK_FACT_INVOICE_DIM_BRANCH]
GO
ALTER TABLE [dbo].[FACT_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_FACT_INVOICE_DIM_CUSTOMER] FOREIGN KEY([payment_SK])
REFERENCES [dbo].[DIM_PAYMENT] ([Payment_SK])
GO
ALTER TABLE [dbo].[FACT_INVOICE] CHECK CONSTRAINT [FK_FACT_INVOICE_DIM_CUSTOMER]
GO
ALTER TABLE [dbo].[FACT_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_FACT_INVOICE_DIM_DATE] FOREIGN KEY([Date_SK])
REFERENCES [dbo].[DIM_DATE] ([Date_SK])
GO
ALTER TABLE [dbo].[FACT_INVOICE] CHECK CONSTRAINT [FK_FACT_INVOICE_DIM_DATE]
GO
ALTER TABLE [dbo].[FACT_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_FACT_INVOICE_DIM_PRODUCT] FOREIGN KEY([Product_SK])
REFERENCES [dbo].[DIM_PRODUCT] ([Product_SK])
GO
ALTER TABLE [dbo].[FACT_INVOICE] CHECK CONSTRAINT [FK_FACT_INVOICE_DIM_PRODUCT]
GO
ALTER TABLE [dbo].[FACT_INVOICE]  WITH CHECK ADD  CONSTRAINT [fk_gender] FOREIGN KEY([gender_sk])
REFERENCES [dbo].[DIM_GENDER] ([gender_sk])
GO
ALTER TABLE [dbo].[FACT_INVOICE] CHECK CONSTRAINT [fk_gender]
GO
USE [master]
GO
