USE [master]
GO
/****** Object:  Database [Metadata]    Script Date: 24/12/2023 12:36:52 CH ******/
CREATE DATABASE [Metadata]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Metadata', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Metadata.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Metadata_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Metadata_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Metadata].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Metadata]
GO
/****** Object:  Table [dbo].[dataflow]    Script Date: 24/12/2023 12:36:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dataflow](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[lset] [datetime] NULL,
	[cet] [datetime] NULL,
 CONSTRAINT [PK_dataflow] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dataflow1]    Script Date: 24/12/2023 12:36:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dataflow1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[lset] [datetime] NULL,
	[cet] [datetime] NULL,
 CONSTRAINT [PK_dataflow1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dataflow] ON 

INSERT [dbo].[dataflow] ([id], [name], [lset], [cet]) VALUES (6, N'Myanmar', CAST(N'2023-12-22T22:27:25.750' AS DateTime), CAST(N'2023-12-22T22:26:44.547' AS DateTime))
SET IDENTITY_INSERT [dbo].[dataflow] OFF
GO
SET IDENTITY_INSERT [dbo].[dataflow1] ON 

INSERT [dbo].[dataflow1] ([id], [name], [lset], [cet]) VALUES (1, N'Plato''s Pizza', CAST(N'2023-12-22T23:14:55.473' AS DateTime), CAST(N'2023-12-22T23:14:20.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[dataflow1] OFF
GO
USE [master]
GO
