USE [master]
GO
/****** Object:  Database [NDS]    Script Date: 24/12/2023 12:38:53 CH ******/
CREATE DATABASE [NDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NDS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NDS_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NDS]
GO
/****** Object:  Table [dbo].[BRANCH_NDS]    Script Date: 24/12/2023 12:38:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH_NDS](
	[Branch_SK] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [nvarchar](10) NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
	[SS_SK] [int] NULL,
	[city_sk] [int] NULL,
 CONSTRAINT [PK_BRANCH_NDS] PRIMARY KEY CLUSTERED 
(
	[Branch_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITY_NDS]    Script Date: 24/12/2023 12:38:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY_NDS](
	[city_sk] [int] IDENTITY(1,1) NOT NULL,
	[city] [nvarchar](50) NULL,
	[datecrea] [datetime] NULL,
	[dateupd] [datetime] NULL,
	[ss_sk] [int] NULL,
 CONSTRAINT [PK_CITY_NDS] PRIMARY KEY CLUSTERED 
(
	[city_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERTYPE_NDS]    Script Date: 24/12/2023 12:38:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERTYPE_NDS](
	[custype_sk] [int] IDENTITY(1,1) NOT NULL,
	[CustomerType] [nvarchar](50) NULL,
	[datecrea] [datetime] NULL,
	[dateupd] [datetime] NULL,
	[ss_sk] [int] NULL,
 CONSTRAINT [PK_CUSTOMERTYPE_NDS] PRIMARY KEY CLUSTERED 
(
	[custype_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENDER_NDS]    Script Date: 24/12/2023 12:38:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENDER_NDS](
	[gender_sk] [int] IDENTITY(1,1) NOT NULL,
	[gender] [nvarchar](50) NULL,
	[datecrea] [datetime] NULL,
	[dateupd] [datetime] NULL,
	[ss_sk] [int] NULL,
 CONSTRAINT [PK_GENDER_SK] PRIMARY KEY CLUSTERED 
(
	[gender_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE_NDS]    Script Date: 24/12/2023 12:38:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE_NDS](
	[Invoice_SK] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [nvarchar](20) NULL,
	[Branch_SK] [int] NULL,
	[Product_SK] [int] NULL,
	[Quantity] [int] NULL,
	[Tax5%] [float] NULL,
	[Cogs] [float] NULL,
	[GrossMarginPercent] [float] NULL,
	[GrossIncome] [float] NULL,
	[Rating] [float] NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
	[SS_SK] [int] NULL,
	[total] [float] NULL,
	[gender_sk] [int] NULL,
	[custype_sk] [int] NULL,
	[dateapp] [date] NULL,
	[timeapp] [time](7) NULL,
	[payment_sk] [int] NULL,
 CONSTRAINT [PK_INVOICE_NDS] PRIMARY KEY CLUSTERED 
(
	[Invoice_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_NDS]    Script Date: 24/12/2023 12:38:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_NDS](
	[Payment_SK] [int] IDENTITY(1,1) NOT NULL,
	[Payment] [nvarchar](50) NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
	[SS_SK] [int] NULL,
 CONSTRAINT [PK_CUSTOMER_NDS] PRIMARY KEY CLUSTERED 
(
	[Payment_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_NDS]    Script Date: 24/12/2023 12:38:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_NDS](
	[Product_SK] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [nvarchar](10) NULL,
	[UnitPrice] [float] NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
	[SS_SK] [int] NULL,
	[ProductLine_SK] [int] NULL,
 CONSTRAINT [PK_PRODUCT_NDS] PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTLINE_NDS]    Script Date: 24/12/2023 12:38:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTLINE_NDS](
	[ProductLine_SK] [int] IDENTITY(1,1) NOT NULL,
	[ProductlineID] [nvarchar](10) NULL,
	[ProductLine] [nvarchar](50) NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
	[SS_SK] [int] NULL,
 CONSTRAINT [PK_PRODUCTLINE_NDS] PRIMARY KEY CLUSTERED 
(
	[ProductLine_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Source_system]    Script Date: 24/12/2023 12:38:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Source_system](
	[SS_SK] [int] IDENTITY(1,1) NOT NULL,
	[SourceName] [nvarchar](50) NULL,
	[DateCrea] [datetime] NULL,
	[DateUpd] [datetime] NULL,
 CONSTRAINT [PK_Source_system] PRIMARY KEY CLUSTERED 
(
	[SS_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BRANCH_NDS] ON 

INSERT [dbo].[BRANCH_NDS] ([Branch_SK], [BranchID], [DateCrea], [DateUpd], [SS_SK], [city_sk]) VALUES (1206, N'B', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1, 17)
INSERT [dbo].[BRANCH_NDS] ([Branch_SK], [BranchID], [DateCrea], [DateUpd], [SS_SK], [city_sk]) VALUES (1207, N'C', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1, 16)
INSERT [dbo].[BRANCH_NDS] ([Branch_SK], [BranchID], [DateCrea], [DateUpd], [SS_SK], [city_sk]) VALUES (1208, N'A', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1, 15)
SET IDENTITY_INSERT [dbo].[BRANCH_NDS] OFF
GO
SET IDENTITY_INSERT [dbo].[CITY_NDS] ON 

INSERT [dbo].[CITY_NDS] ([city_sk], [city], [datecrea], [dateupd], [ss_sk]) VALUES (15, N'Yangon', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
INSERT [dbo].[CITY_NDS] ([city_sk], [city], [datecrea], [dateupd], [ss_sk]) VALUES (16, N'Naypyitaw', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
INSERT [dbo].[CITY_NDS] ([city_sk], [city], [datecrea], [dateupd], [ss_sk]) VALUES (17, N'Mandalay', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CITY_NDS] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMERTYPE_NDS] ON 

INSERT [dbo].[CUSTOMERTYPE_NDS] ([custype_sk], [CustomerType], [datecrea], [dateupd], [ss_sk]) VALUES (3, N'Member', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
INSERT [dbo].[CUSTOMERTYPE_NDS] ([custype_sk], [CustomerType], [datecrea], [dateupd], [ss_sk]) VALUES (4, N'Normal', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CUSTOMERTYPE_NDS] OFF
GO
SET IDENTITY_INSERT [dbo].[GENDER_NDS] ON 

INSERT [dbo].[GENDER_NDS] ([gender_sk], [gender], [datecrea], [dateupd], [ss_sk]) VALUES (5, N'Female', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
INSERT [dbo].[GENDER_NDS] ([gender_sk], [gender], [datecrea], [dateupd], [ss_sk]) VALUES (6, N'Male', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[GENDER_NDS] OFF
GO
SET IDENTITY_INSERT [dbo].[INVOICE_NDS] ON 

INSERT [dbo].[INVOICE_NDS] ([Invoice_SK], [InvoiceID], [Branch_SK], [Product_SK], [Quantity], [Tax5%], [Cogs], [GrossMarginPercent], [GrossIncome], [Rating], [DateCrea], [DateUpd], [SS_SK], [total], [gender_sk], [custype_sk], [dateapp], [timeapp], [payment_sk]) VALUES (19019, N'258-69-7810', 1207, 346836, 5, 9.2125, 184.25, 4.761904762, 9.2125, 9.2, CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1, 193.4625, 5, 4, CAST(N'2019-01-26' AS Date), CAST(N'18:53:00' AS Time), 17982)
INSERT [dbo].[INVOICE_NDS] ([Invoice_SK], [InvoiceID], [Branch_SK], [Product_SK], [Quantity], [Tax5%], [Cogs], [GrossMarginPercent], [GrossIncome], [Rating], [DateCrea], [DateUpd], [SS_SK], [total], [gender_sk], [custype_sk], [dateapp], [timeapp], [payment_sk]) VALUES (19020, N'796-12-2025', 1207, 347366, 10, 31.06, 621.2, 4.761904762, 31.06, 5.9, CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1, 652.26, 6, 4, CAST(N'2019-02-11' AS Date), CAST(N'16:19:00' AS Time), 17982)
INSERT [dbo].[INVOICE_NDS] ([Invoice_SK], [InvoiceID], [Branch_SK], [Product_SK], [Quantity], [Tax5%], [Cogs], [GrossMarginPercent], [GrossIncome], [Rating], [DateCrea], [DateUpd], [SS_SK], [total], [gender_sk], [custype_sk], [dateapp], [timeapp], [payment_sk]) VALUES (19021, N'895-03-6665', 1206, 346983, 9, 16.4295, 328.59, 4.761904762, 16.4295, 4.2, CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1, 345.0195, 5, 4, CAST(N'2019-02-16' AS Date), CAST(N'10:52:00' AS Time), 17982)
GO
SET IDENTITY_INSERT [dbo].[INVOICE_NDS] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT_NDS] ON 

INSERT [dbo].[PAYMENT_NDS] ([Payment_SK], [Payment], [DateCrea], [DateUpd], [SS_SK]) VALUES (17982, N'Cash', CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
INSERT [dbo].[PAYMENT_NDS] ([Payment_SK], [Payment], [DateCrea], [DateUpd], [SS_SK]) VALUES (17983, N'Credit card', CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
INSERT [dbo].[PAYMENT_NDS] ([Payment_SK], [Payment], [DateCrea], [DateUpd], [SS_SK]) VALUES (17984, N'Ewallet', CAST(N'2023-12-16T08:50:15.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PAYMENT_NDS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_NDS] ON 

INSERT [dbo].[PRODUCT_NDS] ([Product_SK], [ProductID], [UnitPrice], [DateCrea], [DateUpd], [SS_SK], [ProductLine_SK]) VALUES (346462, N'PID01', 74.69, CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1, 2351)
INSERT [dbo].[PRODUCT_NDS] ([Product_SK], [ProductID], [UnitPrice], [DateCrea], [DateUpd], [SS_SK], [ProductLine_SK]) VALUES (346463, N'PID722', 93.2, CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1, 2351)
INSERT [dbo].[PRODUCT_NDS] ([Product_SK], [ProductID], [UnitPrice], [DateCrea], [DateUpd], [SS_SK], [ProductLine_SK]) VALUES (346464, N'PID720', 37.06, CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1, 2351)
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_NDS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTLINE_NDS] ON 

INSERT [dbo].[PRODUCTLINE_NDS] ([ProductLine_SK], [ProductlineID], [ProductLine], [DateCrea], [DateUpd], [SS_SK]) VALUES (2351, N'PD001', N'Health and beauty', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
INSERT [dbo].[PRODUCTLINE_NDS] ([ProductLine_SK], [ProductlineID], [ProductLine], [DateCrea], [DateUpd], [SS_SK]) VALUES (2352, N'PD002', N'Electronic accessories', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
INSERT [dbo].[PRODUCTLINE_NDS] ([ProductLine_SK], [ProductlineID], [ProductLine], [DateCrea], [DateUpd], [SS_SK]) VALUES (2353, N'PD003', N'Home and lifestyle', CAST(N'2023-12-16T02:44:34.000' AS DateTime), CAST(N'2023-12-22T22:26:45.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PRODUCTLINE_NDS] OFF
GO
SET IDENTITY_INSERT [dbo].[Source_system] ON 

INSERT [dbo].[Source_system] ([SS_SK], [SourceName], [DateCrea], [DateUpd]) VALUES (1, N'Myanmar', CAST(N'2023-11-01T00:00:00.000' AS DateTime), CAST(N'2023-11-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Source_system] OFF
GO
ALTER TABLE [dbo].[BRANCH_NDS]  WITH CHECK ADD  CONSTRAINT [FK_BRANCH_NDS_CITY_NDS] FOREIGN KEY([city_sk])
REFERENCES [dbo].[CITY_NDS] ([city_sk])
GO
ALTER TABLE [dbo].[BRANCH_NDS] CHECK CONSTRAINT [FK_BRANCH_NDS_CITY_NDS]
GO
ALTER TABLE [dbo].[BRANCH_NDS]  WITH CHECK ADD  CONSTRAINT [FK_BRANCH_NDS_Source_system] FOREIGN KEY([SS_SK])
REFERENCES [dbo].[Source_system] ([SS_SK])
GO
ALTER TABLE [dbo].[BRANCH_NDS] CHECK CONSTRAINT [FK_BRANCH_NDS_Source_system]
GO
ALTER TABLE [dbo].[CITY_NDS]  WITH CHECK ADD  CONSTRAINT [FK_CITY_NDS_Source_system] FOREIGN KEY([ss_sk])
REFERENCES [dbo].[Source_system] ([SS_SK])
GO
ALTER TABLE [dbo].[CITY_NDS] CHECK CONSTRAINT [FK_CITY_NDS_Source_system]
GO
ALTER TABLE [dbo].[CUSTOMERTYPE_NDS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMERTYPE_NDS_Source_system] FOREIGN KEY([ss_sk])
REFERENCES [dbo].[Source_system] ([SS_SK])
GO
ALTER TABLE [dbo].[CUSTOMERTYPE_NDS] CHECK CONSTRAINT [FK_CUSTOMERTYPE_NDS_Source_system]
GO
ALTER TABLE [dbo].[GENDER_NDS]  WITH CHECK ADD  CONSTRAINT [FK_GENDER_SK_Source_system] FOREIGN KEY([ss_sk])
REFERENCES [dbo].[Source_system] ([SS_SK])
GO
ALTER TABLE [dbo].[GENDER_NDS] CHECK CONSTRAINT [FK_GENDER_SK_Source_system]
GO
ALTER TABLE [dbo].[INVOICE_NDS]  WITH CHECK ADD  CONSTRAINT [FK_custype] FOREIGN KEY([custype_sk])
REFERENCES [dbo].[CUSTOMERTYPE_NDS] ([custype_sk])
GO
ALTER TABLE [dbo].[INVOICE_NDS] CHECK CONSTRAINT [FK_custype]
GO
ALTER TABLE [dbo].[INVOICE_NDS]  WITH CHECK ADD  CONSTRAINT [FK_gender] FOREIGN KEY([gender_sk])
REFERENCES [dbo].[GENDER_NDS] ([gender_sk])
GO
ALTER TABLE [dbo].[INVOICE_NDS] CHECK CONSTRAINT [FK_gender]
GO
ALTER TABLE [dbo].[INVOICE_NDS]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_NDS_BRANCH_NDS] FOREIGN KEY([Branch_SK])
REFERENCES [dbo].[BRANCH_NDS] ([Branch_SK])
GO
ALTER TABLE [dbo].[INVOICE_NDS] CHECK CONSTRAINT [FK_INVOICE_NDS_BRANCH_NDS]
GO
ALTER TABLE [dbo].[INVOICE_NDS]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_NDS_PRODUCT_NDS] FOREIGN KEY([Product_SK])
REFERENCES [dbo].[PRODUCT_NDS] ([Product_SK])
GO
ALTER TABLE [dbo].[INVOICE_NDS] CHECK CONSTRAINT [FK_INVOICE_NDS_PRODUCT_NDS]
GO
ALTER TABLE [dbo].[INVOICE_NDS]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_NDS_Source_system] FOREIGN KEY([SS_SK])
REFERENCES [dbo].[Source_system] ([SS_SK])
GO
ALTER TABLE [dbo].[INVOICE_NDS] CHECK CONSTRAINT [FK_INVOICE_NDS_Source_system]
GO
ALTER TABLE [dbo].[INVOICE_NDS]  WITH CHECK ADD  CONSTRAINT [fk_payment] FOREIGN KEY([payment_sk])
REFERENCES [dbo].[PAYMENT_NDS] ([Payment_SK])
GO
ALTER TABLE [dbo].[INVOICE_NDS] CHECK CONSTRAINT [fk_payment]
GO
ALTER TABLE [dbo].[PAYMENT_NDS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_NDS_Source_system] FOREIGN KEY([SS_SK])
REFERENCES [dbo].[Source_system] ([SS_SK])
GO
ALTER TABLE [dbo].[PAYMENT_NDS] CHECK CONSTRAINT [FK_CUSTOMER_NDS_Source_system]
GO
ALTER TABLE [dbo].[PRODUCT_NDS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_NDS_PRODUCTLINE_NDS] FOREIGN KEY([ProductLine_SK])
REFERENCES [dbo].[PRODUCTLINE_NDS] ([ProductLine_SK])
GO
ALTER TABLE [dbo].[PRODUCT_NDS] CHECK CONSTRAINT [FK_PRODUCT_NDS_PRODUCTLINE_NDS]
GO
ALTER TABLE [dbo].[PRODUCT_NDS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_NDS_Source_system] FOREIGN KEY([SS_SK])
REFERENCES [dbo].[Source_system] ([SS_SK])
GO
ALTER TABLE [dbo].[PRODUCT_NDS] CHECK CONSTRAINT [FK_PRODUCT_NDS_Source_system]
GO
ALTER TABLE [dbo].[PRODUCTLINE_NDS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTLINE_NDS_Source_system] FOREIGN KEY([SS_SK])
REFERENCES [dbo].[Source_system] ([SS_SK])
GO
ALTER TABLE [dbo].[PRODUCTLINE_NDS] CHECK CONSTRAINT [FK_PRODUCTLINE_NDS_Source_system]
GO
USE [master]
GO
