USE [master]
GO
/****** Object:  Database [Stage]    Script Date: 24/12/2023 12:40:28 CH ******/
CREATE DATABASE [Stage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Stage.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Stage_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stage]
GO
/****** Object:  Table [dbo].[Stage_city]    Script Date: 24/12/2023 12:40:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage_city](
	[branch] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage_invoice]    Script Date: 24/12/2023 12:40:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage_invoice](
	[invoiceid] [nvarchar](max) NULL,
	[branch] [nvarchar](max) NULL,
	[customertype] [nvarchar](max) NULL,
	[gender] [nvarchar](max) NULL,
	[productid] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[tax5%] [float] NULL,
	[total] [float] NULL,
	[date] [date] NULL,
	[time] [time](7) NULL,
	[payment] [nvarchar](max) NULL,
	[cogs] [float] NULL,
	[grossmarginpercent] [float] NULL,
	[grossincome] [float] NULL,
	[rating] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage_prod]    Script Date: 24/12/2023 12:40:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage_prod](
	[productid] [nvarchar](max) NULL,
	[unitprice] [float] NULL,
	[productline] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage_prodLine]    Script Date: 24/12/2023 12:40:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage_prodLine](
	[productlineid] [nvarchar](max) NULL,
	[productline] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Stage_city] ([branch], [city]) VALUES (N'A', N'Yangon')
INSERT [dbo].[Stage_city] ([branch], [city]) VALUES (N'C', N'Naypyitaw')
INSERT [dbo].[Stage_city] ([branch], [city]) VALUES (N'B', N'Mandalay')
GO
INSERT [dbo].[Stage_invoice] ([invoiceid], [branch], [customertype], [gender], [productid], [quantity], [tax5%], [total], [date], [time], [payment], [cogs], [grossmarginpercent], [grossincome], [rating]) VALUES (N'750-67-8428', N'A', N'Member', N'Female', N'PID01', 7, 26.1415, 548.9715, CAST(N'2019-01-05' AS Date), CAST(N'13:08:00' AS Time), N'Ewallet', 522.83, 4.761904762, 26.1415, 9.1)
INSERT [dbo].[Stage_invoice] ([invoiceid], [branch], [customertype], [gender], [productid], [quantity], [tax5%], [total], [date], [time], [payment], [cogs], [grossmarginpercent], [grossincome], [rating]) VALUES (N'123-19-1176', N'A', N'Member', N'Male', N'PID02', 8, 23.288, 489.048, CAST(N'2019-01-27' AS Date), CAST(N'20:33:00' AS Time), N'Ewallet', 465.76, 4.761904762, 23.288, 8.4)
INSERT [dbo].[Stage_invoice] ([invoiceid], [branch], [customertype], [gender], [productid], [quantity], [tax5%], [total], [date], [time], [payment], [cogs], [grossmarginpercent], [grossincome], [rating]) VALUES (N'355-53-5943', N'A', N'Member', N'Female', N'PID03', 6, 20.652, 433.692, CAST(N'2019-02-25' AS Date), CAST(N'14:36:00' AS Time), N'Ewallet', 413.04, 4.761904762, 20.652, 5.8)
GO
INSERT [dbo].[Stage_prod] ([productid], [unitprice], [productline]) VALUES (N'PID01', 74.69, N'PD001')
INSERT [dbo].[Stage_prod] ([productid], [unitprice], [productline]) VALUES (N'PID02', 58.22, N'PD002')
INSERT [dbo].[Stage_prod] ([productid], [unitprice], [productline]) VALUES (N'PID03', 68.84, N'PD003')
GO
INSERT [dbo].[Stage_prodLine] ([productlineid], [productline]) VALUES (N'PD001', N'Health and beauty')
INSERT [dbo].[Stage_prodLine] ([productlineid], [productline]) VALUES (N'PD002', N'Electronic accessories')
INSERT [dbo].[Stage_prodLine] ([productlineid], [productline]) VALUES (N'PD003', N'Home and lifestyle')
GO
USE [master]
GO
